body {
    background-color: rgb(205, 205, 206);
    color: #d8d8d8;
    margin: 0;
    padding: 0; 
  }

.content
{
    display: flex;
    /* background-color: purple; */
    justify-content: space-between;
}

nav {
    /* background-color: #1E1E1E; */
    margin:50px;
    min-width: 300px;
    max-width: 100%;
    background-color: red;
    margin:15px;
    max-height:100%;
}

section
{
    display: flex;
    flex-direction: column;
    background-color: #1E1E1E;
    max-width: 80%;
    margin: 15px;
    flex:1;
    align-items: center;
    height:800px;
}

/* SECTION : KPI */

.upperKPI
{
    display: flex;
    flex-direction: column;
    background-color: green;
    width:95%;
    margin: 5px;
    height:20%;
    
}

.KPIs
{
    display: flex;
    justify-content: space-around;
    background-color: greenyellow;
    margin:10px;
    height: 65%;
    color:rgb(204, 255, 255);
    font:caption;
}


.TimeSelector{
    display: flex;
    flex-direction: column;
    margin:auto;
    width:90%;
    height:25%;
    text-align:center;
    background-color: rgb(131, 214, 7);
}

/* SECTION : GRAPHIQUES */

.graphiques{
    display: flex;
    margin:auto;
    background-color: orange;
    width:95%;
    height:80%;
}


.leftGraph{
    display: flex;
    overflow:auto;
    flex-direction: column;
    justify-content: center;
    margin:10px;
    background-color: magenta;
    width : 50%;
    height: 95%;
    
}
 
#distribution-retard{
    margin:auto;
    width:90%;
    height:40%;
}
 
#cause-retard{
    margin:auto;
    width:90%;
    height:40%;
} 

.rightMap{
    display: flex;
    overflow:auto;
    flex-direction: column;
    justify-content: center;
    margin:10px;
    background-color: orangered;

    width:50%;
    height:95%;
}


#map-graph{
    margin:auto;
    height:95%;
    width:95%;
}





/* Dropdowns
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.Select-control {
    color: #a5b1cd;
}

.Select {
    color: #a5b1cd;
}

.Select-menu-outer {
    background-color: #2f3445;
    border: 1px solid gray;
}

.Select div {
    background-color: #2f3445;
}

.Select-menu-outer div:hover {
    background-color: rgba(255, 255, 255, 0.01);
}

.Select-value-label {
    color: #a5b1cd !important;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    border: 1px solid gray;
    border-radius: 4px;
}

.card {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 80%;
    padding: 2rem 0;
}

#last-card {
    border-bottom: none;
}

.graph-title {
    font-size: 2rem;
    margin: 15% 0 0 25%;
}

#button-zero-threshold {
    background-color: #2f3445;
    color: #a5b1cd;
    border-color: gray;
}

#button-zero-threshold:hover {
    border-color: white;
}

#button-card {
    display: flex;
    flex-direction: column;
}

#first-card {
    padding-top: 0;
}
